<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232103282116-2080podknu3qa1qditc5dojpcukmbie7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232103282116-2080podknu3qa1qditc5dojpcukmbie7</string>
	<key>API_KEY</key>
	<string>AIzaSyD2nbcVaF7uPOs9aNkHS7EsU9-y5earGXw</string>
	<key>GCM_SENDER_ID</key>
	<string>232103282116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>artify-5d355</string>
	<key>STORAGE_BUCKET</key>
	<string>artify-5d355.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232103282116:ios:2f07c796fe439dec8bd091</string>
</dict>
</plist>